package ${package.Service};
import cn.com.taiji.common.domain.CommonDomain;
import cn.com.taiji.common.dto.PageDTO;
import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import $!{cfg.DTO}.$!{entity}DTO;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName}<D extends CommonDomain>  extends ${superServiceClass}<${entity}DTO,D> {

    PageDTO<${entity}DTO> getPage(PageDTO<${entity}DTO> pageDTO);

}
#end
